body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li{
    list-style: circle;
}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.list{
    list-style: square;
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

:root{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}